<ion-view title='COMUNICADOR'>
  <ion-content id='home-page' class='has-header' padding='true'>
    <ion-list class='level-list'>
      <ion-item class="item-icon-right level-item" ng-repeat='level in levels'>
        <div class="level-main" ng-click='selectLevel(level)'>
          NIVEL {{level.levelNumber}}
          <label class="level-name">{{level.title.toUpperCase()}}</label>
          <i class="icon ion-chevron-down"></i>
        </div>
        <div class="level-detail item-button-right" ng-show="level.selected">
          <label class="level-init-date" ng-show='level.initDate != null'>Iniciado el {{level.initDate}}</label>
          <label>{{level.description}}</label>
        
          <!-- Level 1 and 2 -->

          <a class="button button-positive" ui-sref="app.levelCards({ levelNumber: {{level.levelNumber}} })" ng-if="!categoryEnabled && level.levelNumber <= 2">Ir</a>

          <a class="button button-positive" ui-sref="app.categories({ levelNumber: {{level.levelNumber}} })" ng-if="categoryEnabled && level.levelNumber <= 2">Ir</a>

          <!-- Level 3 -->

          <a class="button button-positive" ui-sref="app.selectImage({ levelNumber: {{level.levelNumber}}, categoryEnabled: {{categoryEnabled}} })" ng-if="level.levelNumber == 3">Ir</a>

          <!-- Level 4 -->

          <a class="button button-positive" ui-sref="app.dragAndDrop({ levelNumber: {{level.levelNumber}}, categoryEnabled: {{categoryEnabled}} })" ng-if="level.levelNumber == 4">Ir</a>

        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>