<ion-view title='NIVEL {{levelNumber}}'>
  <ion-content class='has-header card-list'>
    <ion-list class='list-inset'>

      <ion-item class='item-image' ng-repeat='card in cards' ui-sref='content.levelSingleCard({ id: {{card.id}} })' onclick="window.plugins.insomnia.keepAwake()" ng-if="levelNumber != 3">

        <img ng-src='{{card.img}}' alt='{{card.title}}'>
        <div class='card-title'>{{card.title}}</div>
      </ion-item>

      <ion-item class='item-image' ng-repeat='card in cards' ui-sref="content.levelSingleCardLevelInfo({ id: {{card.id}}, select: {{select}}, levelInfo: {{levelInfo}} })" onclick="window.plugins.insomnia.keepAwake()" ng-if="levelNumber == 3">

        <img ng-src='{{card.img}}' alt='{{card.title}}'>
        <div class='card-title'>{{card.title}}</div>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
