<ion-view title='NIVEL {{levelNumber}}'>
  <ion-pane>
	    <ion-content>
	        <div class="row">
	            <div class="col col-100 rotate">
	            	<a class="item item-image" ng-if="startLevel">
				        <img ng-src='{{select_1}}' width="100%" height="50%" ui-sref='content.levelSingleCard({ id: {{card_1}} })' onclick="window.plugins.insomnia.keepAwake()">
      				</a>
	            	<a class="item item-image" ng-if="!categoryEnabled && !startLevel">
				        <img ng-src='{{select_1}}' width="100%" height="50%" ui-sref='app.levelCards({ levelNumber: {{levelNumber}} })' onclick="window.plugins.insomnia.keepAwake()">
      				</a>
      				<a class="item item-image" ng-if="categoryEnabled && !startLevel">
				        <img ng-src='{{select_1}}' width="100%" height="50%" ui-sref='app.categories({ levelNumber: {{levelNumber}} })' onclick="window.plugins.insomnia.keepAwake()">
      				</a>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col col-100 rotate">
	                <a class="item item-image" ng-if="startLevel">
				        <img ng-src='{{select_2}}' width="100%" height="50%" ui-sref='content.levelSingleCard({ id: {{card_2}} })' onclick="window.plugins.insomnia.keepAwake()">
      				</a>
	            	<a class="item item-image" ng-if="!categoryEnabled && !startLevel">
				        <img ng-src='{{select_2}}' width="100%" height="50%" ui-sref='app.levelCards({ levelNumber: {{levelNumber}} })' onclick="window.plugins.insomnia.keepAwake()">
      				</a>
      				<a class="item item-image" ng-if="categoryEnabled && !startLevel">
				        <img ng-src='{{select_2}}' width="100%" height="50%" ui-sref='app.categories({ levelNumber: {{levelNumber}} })' onclick="window.plugins.insomnia.keepAwake()">
      				</a>
	            </div>
	        </div>
	    </ion-content>
	</ion-pane>
</ion-view>
