<ion-view title='ESTADÍSTICAS'>
  <ion-content class='has-header'>
      <label class="item item-input item-select">
        <div class="select-placeholder">Nivel</div>
        <select name='level' ng-model="selectedLevel" ng-options="level.id as level.levelNumber for level in levels" ng-change="refreshStatistics();"></select>
      </label>

      <div class="statistics">
        <div class="exchange-count">
          <div class="row table table-title">
            <div class="col">INTERCAMBIOS POR RECEPTOR - NIVEL  {{selectedLevel}}</div>
          </div>
          <div class="row table table-header">
            <div class="col">RECEPTOR</div>
            <div class="col">INTERCAMBIOS</div>
          </div>
          <div class="row table" ng-repeat='exchange in exchangeCountByReceiver' ng-show="exchange.count > 0">
            <div class="col">
              <img class="table-avatar" ng-src="{{exchange.receiverAvatar}}" ng-if="exchange.receiverAvatar"></img>
              <i class="table-avatar icon ion-android-social-user" ng-if="!exchange.receiverAvatar"></i>
              <span>{{ exchange.receiverRelationship || 'Otro' }}</span>
            </div>
            <div class="col">{{ exchange.count }}</div>
          </div>
      </div>

  </ion-content>
</ion-view>
